<div class="message" id="message-<%= message.id %>">
  <div class="meta">
    <div class="user"><strong><%= message.user.first_name %></strong></div>
      <div class="time"><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></div>
    </div>
  <div class="content"><%= message.content %></div>
</div>
