.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(194, 251, 248), #62d9df(166, 219, 238));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(194, 251, 248, 1), rgba(166, 219, 238, 1))
  }

  .candidate-top-avatar {
    width: 120px;
    height: 130px;
}
