.candidates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.candidate-card {
  // position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin: 20px;
}
.candidate-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.candidate-card-avatar {
  display: block;
  margin: 20px auto;
  height: 130px;
  object-fit: cover;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #36A9AE;
  margin-bottom: 14px;
    // img{
    //   height: auto;
    //   // width: 100%;
    //   border: 3px solid #ffff;
    //   border-radius: 50%;
    //   object-fit: cover;
    // }
}

.candidate-card-details {
	padding: 20px;
}
.candidate-card-sub-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.candidate-card-sub-details i {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
}
.candidate-card-btn {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;

  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  text-decoration: none;
}
.candidate-card-btn:hover {
  color: rgba(0, 0, 0, 0.55);
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.candidate-card-btn:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}
