.login-signup-body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

.login-signup-form-container {
  background-color: #f5f5f5;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	width: 700px;
  // h2 {
  //   margin-top: 10px;
  //   text-align: center;
  //   margin-bottom: 25px;
  // }
  // img {
  //   width: 50px;
  //   text-align: center;
  // }
}

.login-signup-form-header {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 25px;
  h2 {
    margin-top: 10px;
  }
  img {
    width: 50px;
    text-align: center;
  }
}

.login-signup-label {
	margin-top: 10px;
}

.login-signup-inputs {
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	margin-bottom: 10px;
}

.login-signup-submit {
  text-align: center;
	background-color: #03b5a9;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}

.login-signup-submit:hover {
	background-color: #8bb8b9;
  color: #fff;
}

