 <div class="container chatroom">
 <h1 class="chatroom-header">Select the chat you want message:</h1>
 <ul class="chatroom-list">
  <% @chatrooms.each do |chatroom| %>
      <li>
  <% if current_user.first_name == chatroom.employer_name %>
  <%= cl_image_tag chatroom.job_application.user.avatar.key , :width => 40, :height => 40, style: "border-radius: 50%; display: block; margin-bottom: 10px;"%>
  <%= link_to chatroom.applicant_name, chatroom_path(chatroom)%>
  <% else %>
  <%= cl_image_tag chatroom.job_application.job.user.avatar.key , :width => 40, :height => 40, style: "border-radius: 50%; display: block; margin-bottom: 10px;"%>
  <%= link_to chatroom.employer_name, chatroom_path(chatroom)%>
  <% end %>
  </li>
  <% end %>
 </ul>
</div>
