<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My profile", employer_profile_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My posts", my_posts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Pending job applications", job_applications_path, class: "nav-link  active" %>
    </li>
    <li class="nav-item">
      <%= link_to "My calendar", employer_calendar_path, class: "nav-link" %>
    </li>
  </ul>
<div class="cards main-container">
  <div class="py-5 mb-5">
    <h1>My Pending Job Applications</h1>
      <div class="row justify-content-center">

      </div>
    </div>
  </div>
</div>
