<h1>My Pending Job Applications</h1>
<div>
  <h3>Applications for this job: </h3>
</div>
  <button type="button" class="btn btn-outline-success mt-5">
    <%= link_to "Accept", "#" %>
  </button>
  <button type="button" class="btn btn-outline-success mt-5">
    <%= link_to "Decline", "#" %>
  </button>
  <button type="button" class="btn btn-outline-success mt-5">
    <%= link_to "Make an appoiment", "#" %>
  </button>
  <button type="button" class="btn btn-outline-success mt-5">
    <%= link_to "Back to my profile", employer_profile_path %>
  </button>
