<h1>Job Application</h1>
<div class="job-description">
<ul>
<li>Position: <%= @job.position %></li>
<li> Job description: <%= @job.description %></li>
</ul>
</div>
<button type="button" class="btn btn-outline-success mt-5">My current CVs</button>
<button type="button" class="btn btn-outline-success mt-5">Choose CV</button>
<button type="button" class="btn btn-outline-success mt-5">Send message</button>
<%= link_to "Send message to employer", chatroom_path(@chatroom) %>
