
  <h1>Employer Index</h1>
  <div class="cards">
    <% @users.each do |user|%>
      <div style="background-image: url('<%= cl_image_path user.avatar.key if user.avatar.key %>')"></div>
      <p>Name: <%= user.first_name %></p>
      <p>Lastname: <%= user.last_name %></p>
      <%= link_to "See profile", candidate_path(user.id) %>
    <% end %>
  </div>
