<h1>Traum Arbeit</h1>
<h3>This is the Home Page</h3>


  <div>
    <h3>What do you want to do?</h3>
    <%= link_to "Find a Job", jobs_path %>
    <%= link_to "Find a Job Seeker", employerindex_path %>
  </div>
