<!-- Homepage inspo: https://mobirise.com/extensions/levelm4/agency/ -->

<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/home/trinidad/code/trinidadcerri/TraumArbeit/app/assets/images/homepage-portfolio.jpg);">
  <div class="container">
    <h1>Traum Job</h1>
    <p>Our goal is to make your job search an inspiring process and not an enslaving one.</p>
  </div>
</div>

<!-- Feature 1: Steps to follow (3 cards) -->


<!-- Feature 2: Options -- find a: JOB / CANDIDATE -->
<div>
    <h3>What do you want to do?</h3>
    <%= link_to "Find a Job", jobs_path %>
    <%= link_to "Find a Candidate", candidates_path %>
</div>

<!-- Feature 3: Pricing table -->

<!-- Feature 4: The team 1 -->

<!-- Feature 5: The team 2 -->

<!-- Footer for Homepage -->
