/* Style for container */
.container.chatroom {
  margin: 0 auto;
  max-width: 800px;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Style for header */
.chatroom-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style for list */
.chatroom-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Style for list items */
.chatroom-list li {
  // display: flex;
  margin-bottom: 20px;
}

/* Style for chatroom avatar */
.chatroom-list li img {
  margin-right: 10px;
}

/* Style for chatroom link */
.chatroom-list li a {
  color: #2A8387;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #2A8387;
  padding-bottom: 2px;
  transition: border-color 0.2s ease-in-out;
}

/* Style for chatroom link on hover */
.chatroom-list li a:hover {
  border-color: #36A9AE;
}
.status {
  text-align: end;
}
