.flash {
  padding: 16px 24px 16px 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  // flex-grow: 1;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  // margin: 8px;
  margin-left: 10px;
}

.flash-success {
  border: 2px solid #36A9AE;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}
