// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "simple_calendar";
@import "flatpickr/dist/flatpickr.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/candidates_show";
@import "pages/employer_index";
@import "pages/employer_profile";
@import "components/card";
@import "pages/_forms_signup_login";
// @import fontAwesome from "https://cdn.skypack.dev/font-awesome@4.7.0";

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
// .customize-container {
//   min-height: calc(100vh - 150px - 120px);
// }
